
content to add.txt
old.html
en/Game_Development/Utopia_Engine/itch/assets/clover.png
en/Game_Development/Utopia_Engine/itch/assets/Copperplate Gothic Bold Regular.ttf
en/Game_Development/Utopia_Engine/itch/assets/CopperplateGothicLight.ttf
en/Game_Development/Utopia_Engine/itch/assets/DejaVuSansCondensed-Bold.ttf
en/Game_Development/Utopia_Engine/itch/assets/DejaVuSansCondensed.ttf
en/Game_Development/Utopia_Engine/itch/assets/dice.png
en/Game_Development/Utopia_Engine/itch/assets/eye.png
en/Game_Development/Utopia_Engine/itch/assets/jar.png
en/Game_Development/Utopia_Engine/itch/assets/map.png
en/Game_Development/Utopia_Engine/itch/assets/map_regions.png
en/Game_Development/Utopia_Engine/itch/assets/monster.png
en/Game_Development/Utopia_Engine/itch/assets/thundercloud.png
en/Game_Development/Utopia_Engine/itch/assets/UI-L.png
en/Game_Development/Utopia_Engine/itch/assets/UI-R.png
en/Game_Development/Utopia_Engine/itch/assets/UI-tools.png
en/Game_Development/Utopia_Engine/itch/assets/workshop.png
en/Game_Development/Utopia_Engine/itch/assets/x.png
en/Game_Development/Utopia_Engine/itch/assets/you_are_here.png
en/Game_Development/Utopia_Engine/itch/index.html
en/Game_Development/Utopia_Engine/itch/itch.zip
en/Game_Development/Utopia_Engine/itch/libraries/p5.min.js
en/Game_Development/Utopia_Engine/itch/Utopia_Engine.js
en/Game_Development/Utopia_Engine/title card.png
en/Game_Development/Utopia_Engine/itch/Utopia Engine.zip
en/Software_Art/Planetarium/zlib1.dll
en/Software_Art/Planetarium/vec2d.o
en/Software_Art/Planetarium/vec2d.h
en/Software_Art/Planetarium/vec2d.c
en/Software_Art/Planetarium/TX_Font.o
en/Software_Art/Planetarium/TX_Font.h
en/Software_Art/Planetarium/TX_Font.c
en/Software_Art/Planetarium/transform.o
en/Software_Art/Planetarium/transform.h
en/Software_Art/Planetarium/transform.c
en/Software_Art/Planetarium/Template.zip
en/Software_Art/Planetarium/SDL2_ttf.dll
en/Software_Art/Planetarium/SDL2_image.dll
en/Software_Art/Planetarium/SDL2_gfx/SDL2_rotozoom.h
en/Software_Art/Planetarium/SDL2_gfx/SDL2_rotozoom.c
en/Software_Art/Planetarium/SDL2_gfx/SDL2_gfxPrimitives_font.h
en/Software_Art/Planetarium/SDL2_gfx/SDL2_gfxPrimitives.h
en/Software_Art/Planetarium/SDL2_gfx/SDL2_gfxPrimitives.c
en/Software_Art/Planetarium/SDL2_gfx/SDL2_framerate.h
en/Software_Art/Planetarium/SDL2_gfx/SDL2_framerate.c
en/Software_Art/Planetarium/SDL2.dll
en/Software_Art/Planetarium/makefile.txt
en/Software_Art/Planetarium/makefile
en/Software_Art/Planetarium/main.c
en/Software_Art/Planetarium/main arg.c
en/Software_Art/Planetarium/log.txt
en/Software_Art/Planetarium/LICENSE
en/Software_Art/Planetarium/libpng16-16.dll
en/Software_Art/Planetarium/libfreetype-6.dll
en/Software_Art/Planetarium/Gallery/GBE 2021.10.11 20-42-38.png
en/Software_Art/Planetarium/Gallery/GBE 2021.10.11 20-02-50.png
en/Software_Art/Planetarium/Gallery/GBE 2021.10.11 20-02-33.png
en/Software_Art/Planetarium/Gallery/GBE 2021.10.11 20-02-26.png
en/Software_Art/Planetarium/Gallery/GBE 2021.10.11 18-32-33.png
en/Software_Art/Planetarium/Gallery/GBE 2021.10.11 18-31-36.png
en/Software_Art/Planetarium/Gallery/GBE 2021.10.11 18-13-55.png
en/Software_Art/Planetarium/Gallery/GBE 2021.10.11 18-10-16.png
en/Software_Art/Planetarium/Gallery/GBE 2021.10.11 18-07-36.png
en/Software_Art/Planetarium/Gallery/GBE 2021.10.11 17-06-26.png
en/Software_Art/Planetarium/Gallery/GBE 2021.10.11 17-06-25.png
en/Software_Art/Planetarium/Gallery/GBE 2021.10.11 14-30-36.png
en/Software_Art/Planetarium/Gallery/GBE 2021.10.11 14-22-07.png
en/Software_Art/Planetarium/Gallery/GBE 2021.10.11 13-52-28.png
en/Software_Art/Planetarium/Gallery/GBE 2021.10.11 13-35-32.png
en/Software_Art/Planetarium/Gallery/GBE 2021.10.11 13-32-05.png
en/Software_Art/Planetarium/Gallery/GBE 2021.10.11 13-21-04.png
en/Software_Art/Planetarium/Gallery/GBE 2021.10.11 13-15-18.png
en/Software_Art/Planetarium/Gallery/GBE 2021.10.11 13-15-17.png
en/Software_Art/Planetarium/Gallery/GBE 2021.10.11 01-46-30.png
en/Software_Art/Planetarium/Gallery/GBE 2021.10.11 01-32-16.png
en/Software_Art/Planetarium/Gallery/GBE 2021.10.10 19-13-48.png
en/Software_Art/Planetarium/Gallery/GBE 2021.10.10 19-07-13.png
en/Software_Art/Planetarium/Gallery/first.png
en/Software_Art/Planetarium/Gallery/data/GBE 2021.10.11 20-42-38.bin
en/Software_Art/Planetarium/Gallery/data/GBE 2021.10.11 20-36-18.bin
en/Software_Art/Planetarium/Gallery/data/GBE 2021.10.11 20-02-50.bin
en/Software_Art/Planetarium/Gallery/data/GBE 2021.10.11 20-02-33.bin
en/Software_Art/Planetarium/Gallery/data/GBE 2021.10.11 20-02-26.bin
en/Software_Art/Planetarium/Gallery/data/GBE 2021.10.11 19-48-20.bin
en/Software_Art/Planetarium/Gallery/data/GBE 2021.10.11 18-32-33.bin
en/Software_Art/Planetarium/Gallery/data/GBE 2021.10.11 18-31-36.bin
en/Software_Art/Planetarium/Gallery/data/GBE 2021.10.11 18-13-55.bin
en/Software_Art/Planetarium/Gallery/data/GBE 2021.10.11 18-10-16.bin
en/Software_Art/Planetarium/Gallery/data/GBE 2021.10.11 18-07-36.bin
en/Software_Art/Planetarium/Gallery/data/GBE 2021.10.11 17-06-26.bin
en/Software_Art/Planetarium/Gallery/data/GBE 2021.10.11 17-06-25.bin
en/Software_Art/Planetarium/Gallery/data/GBE 2021.10.11 14-30-36.bin
en/Software_Art/Planetarium/Gallery/data/GBE 2021.10.11 14-22-07.bin
en/Software_Art/Planetarium/Gallery/data/GBE 2021.10.11 13-52-28.bin
en/Software_Art/Planetarium/Gallery/comp-S.png
en/Software_Art/Planetarium/Gallery/comp -P.png
en/Software_Art/Planetarium/basics.o
en/Software_Art/Planetarium/basics.h
en/Software_Art/Planetarium/basics.c
en/Software_Art/Planetarium/Assets/DeckardsRegular.ttf
en/Software_Art/Planetarium/Assets/circler/circler.pde
en/Software_Art/Planetarium/Assets/circler/100-spherical add.png
en/Software_Art/Planetarium/Assets/1x24.png
en/Software_Art/Planetarium/Assets/1x24-S.png
en/Software_Art/Planetarium/#PLAY.bat
en/Software_Art/Planetarium/#MAKE.bat
staging/caboco/Sketch_do_fio/psketch.js
staging/caboco/pezao/data/desenho--03.png
staging/caboco/02-seres-no-algodeiro/campo - Copy.js
staging/caboco/bombo.html
staging/caboco/01-pes-de-algodao/*
staging/caboco/02-seres-no-algodeiro/*
staging/caboco/03-arquivo-algodao/*
staging/caboco/04-algodao-canta-ausencias/*
staging/caboco/05-algodao-rezado/*
staging/caboco/06-das-ausencias-mas-sempre-estivemos-aqui/*
staging/caboco/07-tecer-o-fio-forte/*
staging/caboco/08-antes-de-eu-morre-ja-sabe/*
staging/caboco/09-anamnese-no-arquivo-historico-da-bienal-de-sp/*
staging/caboco/10-o-que-é-arquivo_/*
*.pdf
staging/9jogos/SAEB_6 ANO_MAT.docx
staging/9jogos/Food_Pack_1.1.zip
staging/9jogos/SABE_2 ANO_MAT_estilado.docx
staging/9jogos/food-assets.png
staging/9jogos/9jogos.zip
staging/9jogos/embeded/Jogo01/p5.js
staging/9jogos/embeded/Jogo01/p5.min.js
staging/9jogos/embeded/Jogo01/page01.html
staging/caboco/ISSOTUDO.zip
staging/caboco/ISSOTUDO/isso.js
staging/caboco/ISSOTUDO/isso_perfo.js
staging/caboco/ISSOTUDO/performance.html
staging/caboco/ISSOTUDO/isso.js
